@font-face {
  font-family: 'Holtwood';
  src: url(./assets/HoltwoodOneSC-Regular.ttf);
}

@font-face {
  font-family: 'kopub';
  src: url(./assets/KoPubWorld\ Batang\ Medium.ttf);
}

* {
  font-family: 'palatino';
}

p {
  font-family: 'palatino';
}
/* * {
  font-family: 'Holtwood';
} */