@font-face {
  font-family: 'Holtwood';
  src: url(./assets/fonts/HoltwoodOneSC-Regular.ttf);
}

@font-face {
  font-family: 'kopub';
  src: url(./assets/fonts/KoPubWorld\ Batang\ Medium.ttf);
}

* {
  font-family: 'Nanum Gothic', sans-serif;
}

p {
  font-family: 'palatino';
}
/* * {
  font-family: 'Holtwood';
} */